<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login User</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="cointainer">
    <div class="login-image">
       <img src="/images/login-side-img.png">
    </div>
    <div class="login-val">
      <h1>Welcome Back</h1>
      <p>Please login to your account</p>
      <input
       type="email"
       name="email"
       placeholder="Email address"
       required>
      <input 
        type="password"
        name="password"
        placeholder="Password"
        required>
        <br/>
       <a href="#">Forgot password?</a>
       <a href="#">Registration</a>
       <br/>
      <button>Login</button>
    </div>
  </div>
</body>
</html>